<input type="text" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Unit/Name">
<table id="unitTable" class="table table-striped table-bordered" cellspacing="0" style="width: 50%;">
  <tbody>
    <tr *ngFor="let unit of (units | searchByName: searchText)">
      <td>
        <h5><span class="badge green">{{unit.flatNo}}</span> <br>Owner: {{unit.billerName}} <i class="fa fa-user-circle"
            aria-hidden="true"></i></h5>
      </td>
    </tr>
  </tbody>
</table>